*{
  margin: 0 0;
}

.scroll::-webkit-scrollbar {
  width: 15px;
}

.scroll::-webkit-scrollbar-track {
  border-radius: 5px;
  background: var(--color-scroll-track);
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 14px;
  background-color: var(--color-scroll-thumb);
}